.static-width{
    width: 700px;
    height: 700px;
    background-image: url('/home/matelly/Desktop/CSS tutorial for beginners/fotka.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px;
}
